/* index.html */

body {

    margin: auto;
    font-family: 'Muli', sans-serif; 
    max-width: 1280px;
    padding-right: 2em;
}


#map {

    width: calc(100% -2px);
    height: 70vh;
    border: 1px solid gray;
    padding-top: 3em;
}

header img {
    width: 400px;
    display: block;
    margin: 0 auto;
    
}

header h3 {
    display: flex;
    align-items: center;
    justify-content: center;

}

nav ul {
    margin: 0px;
    padding: 1em;
    list-style-type: none;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    
}

nav ul li {
    padding: 3em;
    margin: 5px;
    width: 20%;
    display: inline;
    padding-bottom: 3em;
}

main nav ul li img {
    width: 20px;
}


/* infos.html */

#aachensee {

    width: 1280px;
    height: auto;
    display: block;
    margin: 0 auto;
} 

#warnung {
/*    
    width: 1280px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    display: block; */
   
}

figcaption {
    padding: .8em;
    text-align: center;
    overflow: auto;
  }

#symbole {
    padding-left: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
}

#symbolliste {
    list-style: none;
    text-align: justify;
    width: 100%;
}

#müll {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
    /* margin: 0 auto; */
} 



/* wege.html */


#mapbox {
    width: calc(100% -2px);
    height: 70vh;
    border: 1px solid gray;
}