/* alle html */

header {
    font-family: 'Muli', sans-serif;
}

footer {
    font-family: 'Muli', sans-serif;
}

body {

    margin: auto;
    font-family: 'Muli', sans-serif;
    max-width: 90%;
    padding-right: 2em;
    text-align: justify;
    width: 90%;
}

header img {
    width: 400px;
    display: block;
    margin: 0 auto;

}

header h3 {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Menüleiste mit Dropdownmenü */

#navigation {
    margin: 0;
    padding: 0 1em;
    background: #000;
    height: 3em;
    list-style: none;
    z-index: 999;
    overflow: visible;
}

#navigation>li {
    float: left;
    height: 100%;
    margin-right: 0.5em;
    padding: 0 1em;
}

#navigation>li>a {
    float: right;
    height: 100%;
    color: whitesmoke;
    text-decoration: none;
    line-height: 3;
    font-weight: bold;
    text-transform: uppercase;
}

#navigation>li>a:hover {
    color: lightgreen;
    text-decoration: underline;
}

#navigation>li.sub {
    position: relative;
}

#navigation>li.sub ul {
    width: 10em;
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    background: grey;
    position: absolute;
    top: -1000em;
    z-index: 999;
    overflow: visible;
}

#navigation>li.sub ul li {
    width: 90%;
    margin: 0 auto 0.3em auto;
}

#navigation>li.sub ul li a {
    height: 100%;
    display: block;
    padding: 0.4em;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#navigation>li.sub ul li a:hover {
    background: lightgreen;
    text-decoration: underline;
}

#navigation>li.sub:hover ul {
    top: 3em;
}

a:link,
a:visited {
    color: black;
}

/* index.html */

/* Anordung des Textes in 3 horizontalen Boxen */

.infos {
    text-align: center;
    float: right;
    width: 31%;
    margin-right: 2%;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
}

.infos:last-child {
    margin-right: 0;
}


#mainmap{
    margin-top: 28em;
    width: 100%;
    height: 100vh;
    border: 1px solid gray;
    padding-top: 3em;
}


#liste {
    list-style-type: none;
}

.rainviewer{
    font-weight: bold;
    display: flex;
  align-items: center;
  justify-content: center;
}



/* infos.html */

#aachensee {

    width: 1135px;
    height: auto;
    display: block;
    margin: 0 auto;
    align-content: center;
    box-sizing: ;
}

.warning {

    margin: 0 auto;
    font-family: 'Muli', sans-serif;
    text-align: center;
    border-color: red;
    border-width: 1pt;
    border-style: dashed;
    background: rgba(255, 0, 0, 0.3);
    padding: 25px;
    width: 1135px;
}

#text {
    padding-left: 2em;
}

figcaption {
    padding: .8em;
    text-align: center;
    overflow: auto;
}

#symbole {
    padding-left: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
}

#symbolliste {
    list-style: none;
    text-align: justify;
    width: 100%;
}

#müll {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /* margin: 0 auto; */
}


/* wege.html */

#map {
    width: calc(100% -2px);
    height: 70vh;
    border: 1px solid gray;
}