body {
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}


#map {
    width: calc(100% -2px);
    height: 70vh;
    border: 1px solid gray;
}

header img {
    width: 400px
}

header h3 {
    
}